//getting colors from $colors map in _variables.scss
// $key is the color name e.g. aLightBlue and $color is the value e.g. #8CD2F1
@each $key,
$color in $colors {

    //creating class names bases on key .aLightBlue would be {color:#8CD2F1} 
    .#{$key} {
        color: #{$color};
    }

    //.aLightBlue-outline would be {border: .1rem solid #8CD2F1} 
    .#{$key}-outline {
        border: .1rem solid #{$color}
    }

    //.aLightBlue-bg would be {background-color: #8CD2F1} 
    .#{$key}-bg {
        background-color: #{$color};
    }

    //add -hover to any of the classes to set that as the hover value for something
    .#{$key}-hover {
        &:hover {
            color: #{$color};
        }
    }

    .#{$key}-outline-hover {
        &:hover {
            border: .1rem solid #{$color}
        }
    }

    .#{$key}-bg-hover {
        &:hover {
            background-color: #{$color};
        }
    }
}