@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1 {
	@include font(gothic, $fontsize1, 700, 1, $black);
	font-size: clamp(3rem, 3.8vw, 4.8rem);
	margin-bottom: 4rem;
}

h2 {

	@include font(gothic, $fontsize2, 700, 1, $black);
	font-size: clamp(2.3rem, 2.3vw, 3.6rem);
	margin-bottom: 2rem;

}

h3 {
	@include font(gothic, $fontsize3, 400, 1, $black);
	font-size: clamp(1.9rem, 2.1vw, 2.3rem);

	margin-bottom: 2rem;


}

p,
a,
li,
tr,
address,
td,
caption,
dl,
figcaption,
label,
textarea {
	font-size: $fontsizeBase;
	font-size: clamp(1.5rem, 1vw, 2rem);


}

strong {
	font-weight: 600;
}

a {
	color: #000;

	&:hover {
		text-decoration: none;
		color: $blue;
	}
}

.bold {
	font-weight: 600;
}

.capitalise {
	text-transform: capitalize;
}

.uppercase {
	text-transform: uppercase;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}