#contact_page {
	margin-top: 5.6rem;

	@include media-breakpoint-down(lg) {
		margin-top: 0;
	}


	#contact-details {
		padding: 12rem 0;

		header {
			margin-bottom: 12rem;

			.heading {
				&.large {
					margin-bottom: 5rem;
				}
			}
		}

		#split-col {
			display: flex;

			@include media-breakpoint-down(md) {
				flex-direction: column;
				align-items: center;
			}

			@include media-breakpoint-down(lg) {
				margin-bottom: 4rem;
			}

			#contact-info {
				width: 35%;
				padding-right: 1.5rem;

				@include media-breakpoint-down(md) {
					width: 80%;
					margin-bottom: 4rem;
				}

				h2 {
					margin-bottom: 2rem;
				}

				address {
					margin-bottom: 4rem;
				}

				li {
					list-style-type: none;

					a {
						@include font(inherit, inherit, inherit, inherit, inherit);
					}
				}

				.social_media {
					margin-top: 4rem;
					display: flex;
					justify-content: flex-start;
					left: -1rem;
					position: relative;

					a {
						display: inline-block;
						margin-right: 1rem;
						transition: all 0.3s ease-in-out;
						height: 4rem;
						width: 4rem;
						display: flex;
						align-items: center;
						justify-content: center;

						&:hover {
							box-shadow: 0 0 10px $aOrange;


							border-radius: 2rem;

						}

						&:last-of-type {
							svg {
								margin-right: 0;
							}
						}

						svg {
							width: 3rem;
							height: auto;


							path {
								fill: $aOrange;
							}

							circle {
								fill: $aOrange;
							}
						}
					}
				}
			}

			#contact-form-wrap {
				width: 65%;
				padding-left: 1.5rem;

				@include media-breakpoint-down(md) {
					width: 100%;
				}

				h2 {
					@include font(gothic, 2.2rem, 600, 1.2, $aDarkBlue);
					margin-bottom: 2rem;
				}


			}
		}
	}
}