#footer {
//   background-color: $aDarkBlue;
  width: 100%;
  overflow: hidden;
  padding: 1rem;
  position: absolute;
  bottom:0;

  div {
    display: flex;
    justify-content: space-between;
  }

  p {
    color: white;
	opacity: 0.25;
  }

  @include media-breakpoint-down(lg) {
    padding-bottom: 3rem;
  }
}
