.nav-closed {
    img {
        display: none;
    }

    @include media-breakpoint-down(lg) {
        position: fixed;
        background-color: $pink;
        height: 100vh;
        width: 35rem;
        right: -100%;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
        transition: all .3s ease-in-out;
        padding-left: 2rem;
        overflow: scroll;
        padding-top: 5rem;
        padding-bottom: 5rem;
        flex-wrap: wrap;
        z-index: 10;
        display: flex;

        img {
            display: block;
            width: 25rem;
            height: auto;
            margin: 3rem auto;
        }

        &.open {
            right: 0;
        }
    }

    @include media-breakpoint-down(xs) {
        width: 100%;
    }

    .menu {

        ul {
            list-style-type: none;

            @include media-breakpoint-down(lg) {
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 100%;
                }
            }

            li {
                display: inline-block;
                margin-right: 2rem;

                a {
                    color: #fff;
                }
            }
        }
    }
}

.mobile-nav-button {
    @include media-breakpoint-up(xl) {
        display: none;
    }

    padding: 3rem 0;
    z-index: 11;
    position: absolute;
    right: 3rem;

    @include media-breakpoint-down(lg) {
        padding: 2rem;

        position: fixed;
        bottom: 3rem;
        background-color: $blue;
        border-radius: 50%;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 3rem;
        height: .3rem;
        background-color: $white;
        margin: .5rem 0;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        z-index: 7;
    }

    .bar1 {
        &.change {
            background-color: $white;

            -webkit-transform: rotate(-45deg) translate(-6px, 6px);
            transform: rotate(-45deg) translate(-6px, 6px);
        }
    }

    .bar2 {
        &.change {
            background-color: $white;

            opacity: 0;
        }
    }

    .bar3 {
        &.change {
            background-color: $white;

            -webkit-transform: rotate(45deg) translate(-6px, -6px);
            transform: rotate(45deg) translate(-6px, -6px);
        }
    }
}